<h1>about works!</h1>
<ul>
    <li *ngFor="let user of users" >
        User :
        <span [ngStyle]="user.activeStyle" >
            {{ user.name }}
        </span>
    </li>
</ul>
<button class="btn btn-outline-primary" *ngIf="showButton"  (click)="switchStyle()" >Switch Style</button>
<div>
    <label for="">New user name</label>
    <input type="text" name="" [(ngModel)]="users[0].name"  id="">
    <input type="text" name="" [(ngModel)]="users[1].name"  id="">
    <br>
    Short Date : {{  today | date:'shortDate'}}
    <br>
    Long Date : {{  today | date:'longDate'}}
    <br>
    Full Date : {{  today | date:'fullDate'}}
</div>