<h1>about works!</h1>
<ul>
    <li *ngFor="let user of users" >
        User :
        <span [ngStyle]="user.activeStyle" >
            {{ user.name }}
        </span>
    </li>
</ul>
<input type="button" [(ngModel)]="users[0].name" (click)="changeText()">
<textarea name="" id="" cols="30" rows="10"></textarea>
<button class="btn btn-outline-primary" *ngIf="showButton" (click)="switchStyle()" >Switch Style</button>
<div>
    <label for="">New user name</label>
    <input type="text" name="" [(ngModel)]="users[0].name"  id="">
    <input type="text" name="" [(ngModel)]="users[1].name"  id="">
    <br>
    Short Date : {{  today | date:'shortDate'}}
    <br>
    Long Date : {{  today | date:'longDate'}}
    <br>
    Full Date : {{  today | date:'fullDate'}}
</div>
<div *ngIf="choice === 'DSI3'; then choiceDSI; else otherChoice;" >
</div>
<ng-template #choiceDSI>
    <span>You have chosen DSI</span>
</ng-template>
<ng-template #otherChoice>
    <span>You have {{choice}}</span>
</ng-template>